---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>


		<h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi minima, nulla molestias dolorem voluptatum eos, illo praesentium, id earum doloremque ipsum asperiores consequatur distinctio aperiam aliquam provident sapiente sint recusandae quidem voluptatem eum. Sit officia dolor expedita suscipit saepe nemo a necessitatibus non, rerum sed vel qui animi ad maiores?</p>
	</body>
</html>