---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blob</title>
	</head>
	<body>
        <a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>

<h1>Mi blog de aprendizaje sobre Astro</h1>
<p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro./p>
<ul>
  <li><a href="/posts/post1/">Publicación 1</a></li>
  <li><a href="/posts/post2/">Publicación 2</a></li>
  <li><a href="/posts/post3/">Publicación 3</a></li>
</ul>
	</body>
</html>